<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.demo90.mapper.usersMapper">
    <select id="userList" parameterType="int" resultType="com.bdqn.demo90.bean.User">
        SELECT * from smbms_user where id=#{id}
    </select>
</mapper>